<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandro Macchioli Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Raleway|Source+Sans+Pro:400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/foundation.css">
    <link rel="stylesheet" type="text/css" href="css/devices.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
  </head>
  <body>
